<div class="container mt-5">
    <div class="card" *ngIf="quizShow">
        <div class="d-flex justify-content-between p-3">
            <div class="image">
                <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo" width="50">
            </div>
            <div class="quiz-header">
                <h4 style="font-family: cursive;">Math Quiz</h4>
            </div>
        </div>
        <div class="d-flex justify-content-between p-3">
            
            <div class="question-count">
                <span style="font-style: italic;">Question : {{currentQuestion+1}}/{{mcqQuestionList.length}}</span>
            </div>
            <div class="timer">
                {{formated_min}}:{{formated_sec}}
            </div>
        </div>
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" [ngStyle]="{'width':progress+'%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="question">
              <div class="card">
                <h3>{{mcqQuestionList[currentQuestion]?.question}}</h3>
              </div>              
          </div>
          <div class="options">
                <ol>
                         <div tabindex="1" class="card" *ngFor="let option of mcqQuestionList[currentQuestion]?.options let i= index">
                            <mat-radio-group
                                 aria-labelledby="example-radio-group-label"
                                 class="example-radio-group"
                                 [(ngModel)]="op">
                                 <mat-radio-button (click)="answer(currentQuestion+1,i, option)" class="example-radio-button"  [value]="i">
                                 {{option.text}}
                                 </mat-radio-button>
                            </mat-radio-group>
                        </div>
                </ol>
          </div>
          <div class="d-flex justify-content-between">
              <button [disabled]="currentQuestion===0" class="btn" (click)="previousQuestion()"><i class="fa text-primary fa-chevron-left fa-3x" aria-hidden="true"></i></button>
              <button [hidden]="currentQuestion===mcqQuestionList.length-1" class="btn" (click)="nextQuestion()"><i class="fa text-primary fa-chevron-right fa-3x" aria-hidden="true"></i></button>
              <button [hidden]="currentQuestion!==4" (click)="showResults()" class="btn btn-primary">Submit Answers</button>
          </div>
    </div>
    <div class="result-box" style="height:100vh" *ngIf="resultShow">
        <h1>Quiz Result</h1>
        <table>
            <tr>
                <td>Total Questions</td>
                <td>{{mcqQuestionList.length}}</td>
            </tr>
            <tr>
                <td>Correct Questions</td>
                <td>{{correctAnswer}}</td>
            </tr>
            <tr>
                <td>Wrong Questions</td>
                <td>{{inCorrectAnswer}}</td>
            </tr>
            <tr>
                <td>Accuracy</td>
                <td>{{100 * correctAnswer / mcqQuestionList.length | number:'1.2-2'}}</td>
            </tr>
            <tr>
                <td>Time</td>
                <td>{{formated_min}} : {{formated_sec}}</td>
            </tr>
        </table>
        <div class="answers-indicator">
            <div *ngFor="let option of mcqQuestionList let i= index">{{i+1}}</div>
        </div>
        <button class="btn btn-primary" routerLink="/welcome">Retake Quiz</button>
    </div>
</div>