<div class="container bg-light py-5">
    <h1 class="display-5-fw-bold">Welcome to the Mathematics Quiz</h1>
    <hr />
           <h2 style="margin-left: 40px;">Rules :</h2>
           <ul style="margin-left: 40px;">
               <li>All questions are compulsory</li>
               <li>Each question is worth 5 marks</li>
               <li>This test is timed. A timer on the top right of your screen will show you the reamaining time</li>
               <li>Attempt all questions. There is no negative marking</li>
               <li>You can change your answers or return back to any question at any time during the test.</li>
               <li>Once finished, click on Submit to submit all your answers</li>
               <li>You will see your results immediately after you submit your answers</li>
               <li>Good luck!</li>
           </ul>
</div>

<section style="margin-top: 20px; margin-bottom: 20px; margin-left: 40px;">   
    <button style="margin-left: 30px; margin-right: 10px; " type="button" class="btn btn-primary" routerLink="/mcq-question">Start Quiz 1 (MCQ Quiz)</button>
</section>
<section style="margin-top: 20px; margin-bottom: 20px; margin-left: 40px;">   
    <button style="margin-left: 30px; margin-right: 10px; " type="button" class="btn btn-primary" routerLink="/fitb-question">Start Quiz 2 (Fill in the Blanks Quiz)</button>
</section>
<!-- <section style="margin-top: 20px; margin-bottom: 20px; margin-left: 40px;">   
    <button style="margin-left: 30px; margin-right: 10px; " type="button" class="btn btn-primary" routerLink="/mtf-question">Start Quiz 3 (Match the following Quiz)</button>
</section> -->



